@import 'import/functions.styl'
@import 'import/design.styl'
@import 'import/colors.styl'
@import 'import/plugins.styl'
@import 'import/fonts.styl'
@import 'import/toolbar.styl'
@import 'import/footer.styl'
@import 'import/global.styl'

@import 'import/news.styl'
@import 'import/index.styl'
@import 'import/page.styl'
@import 'import/partners.styl'
@import 'import/contacts.styl'
@import 'import/services.styl'
@import 'import/licencies.styl'
@import 'import/vacancies.styl'
@import 'import/modal.styl'
@import 'import/catalog.styl'
