.scroll-fix

footer.footer
	.container
		.row
			.col-sm-4.col-md-3.col-lg-2
				| © 2015 ООО «НКМЗ-Групп»
			.col-sm-4.col-lg-2
				| Россия, 452683, Республика Башкортостан, <br>г. Нефтекамск, ул. Магистральная, д. 19
			.col-sm-4.col-lg-2.col-md-2.sm-right.md-left
				a(href="#") +7 (34783) 2-02-29
				br.hidden-xs 
				a(href="#") po@nkmz.ru
			.col-sm-3.col-lg-1.md-right.lg-left.hidden-sm
				a(href="#") Карта сайта

</body>
</html>
