include includes/header
- active = 1
<body class="content">
.wrap
	include includes/toolbar
	.page
		.container
			.row
				.col-md-9.col-lg-6
					.page__content
						.page__title
							h1 О компании
						include includes/sub_nav
						.text
							p Общество с ограниченной ответственностью «НКМЗ-Групп» основано в 2002 году на производственной базе «Нефтекамского завода бурового инструмента», построенного в 1986 году, и занимается разработкой и производством оборудования для предприятий нефтегазовой промышленности.
							p Одним из направлений работы ООО «НКМЗ-Групп» является разработка и производство пакерно-якорного оборудования, скважинной оснастки, двухпакерных и многопакерных компоновок типа КОУС, отвечающих современным требованиям эксплуатации, а также комплексов оборудования, обеспечивающих проведение всех технологических операций в процессе эксплуатации скважин и автоматическое перекрытие ствола скважины клапаном-отсекателем в случаях нарушения режима работы скважины.
							p.highlight Конкурентоспособность продукции завода основывается на высоком уровне управления производством и контролем качества, использования прогрессивных технологий и современного оборудования на всех этапах производственного процесса, но главное — это знание и опыт наших работников — лучших специалистов в своей области.
							p Общество с ограниченной ответственностью «НКМЗ-Групп» основано в 2002 году на производственной базе «Нефтекамского завода бурового инструмента», построенного в 1986 году, и занимается разработкой и производством оборудования для предприятий нефтегазовой промышленности.
							p Одним из направлений работы ООО «НКМЗ-Групп» является разработка и производство пакерно-якорного оборудования, скважинной оснастки, двухпакерных и многопакерных компоновок типа КОУС, отвечающих современным требованиям эксплуатации, а также комплексов оборудования, обеспечивающих проведение всех технологических операций в процессе эксплуатации скважин и автоматическое перекрытие ствола скважины клапаном-отсекателем в случаях нарушения режима работы скважины.
							p Общество с ограниченной ответственностью «НКМЗ-Групп» основано в 2002 году на производственной базе «Нефтекамского завода бурового инструмента», построенного в 1986 году, и занимается разработкой и производством оборудования для предприятий нефтегазовой промышленности.
							p Одним из направлений работы ООО «НКМЗ-Групп» является разработка и производство пакерно-якорного оборудования, скважинной оснастки, двухпакерных и многопакерных компоновок типа КОУС, отвечающих современным требованиям эксплуатации, а также комплексов оборудования, обеспечивающих проведение всех технологических операций в процессе эксплуатации скважин и автоматическое перекрытие ствола скважины клапаном-отсекателем в случаях нарушения режима работы скважины.
							p Конкурентоспособность продукции завода основывается на высоком уровне управления производством и контролем качества, использования прогрессивных технологий и современного оборудования на всех этапах производственного процесса, но главное — это знание и опыт наших работников — лучших специалистов в своей области.
							p Общество с ограниченной ответственностью «НКМЗ-Групп» основано в 2002 году на производственной базе «Нефтекамского завода бурового инструмента», построенного в 1986 году, и занимается разработкой и производством оборудования для предприятий нефтегазовой промышленности.
							p Одним из направлений работы ООО «НКМЗ-Групп» является разработка и производство пакерно-якорного оборудования, скважинной оснастки, двухпакерных и многопакерных компоновок типа КОУС, отвечающих современным требованиям эксплуатации, а также комплексов оборудования, обеспечивающих проведение всех технологических операций в процессе эксплуатации скважин и автоматическое перекрытие ствола скважины клапаном-отсекателем в случаях нарушения режима работы скважины.
				.col-md-3.col-lg-6
					.page__side(style="background-image: url(/layout/images/about-bg.jpg)")
include includes/footer
