include includes/header
- active = 3
<body class="content">
.wrap
	include includes/toolbar
	.page
		.container
			.row
				.col-md-9.col-lg-6
					.page__content
						.page__title
							.row
								.col-sm-8
									h1 Пресс-центр
								.col-sm-4.sm-right
									.dropdown.years
										a.dropdown__trigger(href="#")
											span 2015
											include ../../public_html/layout/images/svg/down.svg	
										.dropdown__frame
											a.dropdown__item(href="#") 
												span 2014
											a.dropdown__item(href="#") 
												span 2013
											a.dropdown__item(href="#") 
												span 2012
						.news-list
							.news
								.news__date 12.07.2014
								a.news__title(href="#") Заключен контракт на поставку оборудования на нефтегазовое месторождение им. Филановского.
							.news
								.news__date 12.07.2014
								a.news__title(href="#") НКМЗ-Групп приняла участие в выставке “Нефтегаз-2015”
							.news
								.news__date 12.07.2014
								a.news__title(href="#") Продукуция компании НКМЗ-Групп получила самые высокие рейтинги по оценке American Petroleum Institute
							.news
								.news__date 12.07.2014
								a.news__title(href="#") По программе импортозамещения НКМЗ-Групп начинает выпуск многопакерных компоновок для газовых скважин.
							.news
								.news__date 12.07.2014
								a.news__title(href="#") НКМЗ-Групп успешно прошла аттестацию по стандартам ISO 2008
							.news
								.news__date 12.07.2014
								a.news__title(href="#") Приглашаем на выставку “Нефтегаз-2015”
							.news
								.news__date 12.07.2014
								a.news__title(href="#") Заключен контракт на поставку оборудования на нефтегазовое месторождение им. Филановского.
							.news
								.news__date 12.07.2014
								a.news__title(href="#") НКМЗ-Групп приняла участие в выставке “Нефтегаз-2015”
							.news
								.news__date 12.07.2014
								a.news__title(href="#") Продукуция компании НКМЗ-Групп получила самые высокие рейтинги по оценке American Petroleum Institute
							.news
								.news__date 12.07.2014
								a.news__title(href="#") По программе импортозамещения НКМЗ-Групп начинает выпуск многопакерных компоновок для газовых скважин.
							.news
								.news__date 12.07.2014
								a.news__title(href="#") НКМЗ-Групп успешно прошла аттестацию по стандартам ISO 2008
							.news
								.news__date 12.07.2014
								a.news__title(href="#") Приглашаем на выставку “Нефтегаз-2015”
								
				.col-md-3.col-lg-6
					.page__side(style="background-image: url(/layout/images/press-bg.jpg)")
			.page__modal.page__modal--text
				.modal__content
					.right.xxl-margin-bottom
						a.close(href="#") Закрыть новость
					.text
						small 12.07.2014
						h2.l-margin-bottom.xs-margin-top НКМЗ-Групп приняла участие в выставке «Нефтегаз-2015»
						p 
							img.right(src="/layout/images/img.jpg")
							| Пакер – это высокоэффективное, универсальное, полнопроходное  устройство с компрессионно -устанавливающим эффектом, которое использует гидравлический разрыв пластов грунта при проведении испытаний готовых скважин. С помощью пакера выполняются кислотная обработка скважин и тампонажные работы. Оснащение пакера трехзвенной системой пакеровки с плунжерными башмаками якоря и перепускным внутренним  клапаном большого диаметра озволяет осуществлять безаварийную эксплуатацию устройства. Выполняемые ремонтные работы при высоком давлении, осуществляются пакером, который удерживается в месте посадки благодаря интегральной. гидравлической системы, оборудованной зацепляющимися шлицами. 

						p Пакер – это высокоэффективное, универсальное, полнопроходное устройство с компрессионно -устанавливающим эффектом, которое использует гидравлический разрыв пластов грунта при проведении испытаний готовых скважин.
						p 
							img.left(src="/layout/images/img.jpg")
							| Пакер – это высокоэффективное, универсальное, полнопроходное  устройство с компрессионно -устанавливающим эффектом, которое использует гидравлический разрыв пластов грунта при проведении испытаний готовых скважин. С помощью пакера выполняются кислотная обработка скважин и тампонажные работы. Оснащение пакера трехзвенной системой пакеровки с плунжерными башмаками якоря и перепускным внутренним  клапаном большого диаметра озволяет осуществлять безаварийную эксплуатацию устройства. Выполняемые ремонтные работы при высоком давлении, осуществляются пакером, который удерживается в месте посадки благодаря интегральной. гидравлической системы, оборудованной зацепляющимися шлицами. 

						p Пакер – это высокоэффективное, универсальное, полнопроходное устройство с компрессионно -устанавливающим эффектом, которое использует гидравлический разрыв пластов грунта при проведении испытаний готовых скважин.
						p 
							img.right(src="/layout/images/img.jpg")
							| Пакер – это высокоэффективное, универсальное, полнопроходное  устройство с компрессионно -устанавливающим эффектом, которое использует гидравлический разрыв пластов грунта при проведении испытаний готовых скважин. С помощью пакера выполняются кислотная обработка скважин и тампонажные работы. Оснащение пакера трехзвенной системой пакеровки с плунжерными башмаками якоря и перепускным внутренним  клапаном большого диаметра озволяет осуществлять безаварийную эксплуатацию устройства. Выполняемые ремонтные работы при высоком давлении, осуществляются пакером, который удерживается в месте посадки благодаря интегральной. гидравлической системы, оборудованной зацепляющимися шлицами. 

						p Пакер – это высокоэффективное, универсальное, полнопроходное устройство с компрессионно -устанавливающим эффектом, которое использует гидравлический разрыв пластов грунта при проведении испытаний готовых скважин. 
					
					.gallery(data-pictures='[{"small":"http:\/\/ggo.ru\/upload\/resize_cache\/iblock\/e01\/400_400_175511db9cefbc414a902a46f1b8fae16\/e0175b399d4069c5309eda36edc7ac81.jpg","src":"http:\/\/ggo.ru\/upload\/iblock\/e01\/e0175b399d4069c5309eda36edc7ac81.jpg","h":"800","w":"561","title":null},{"small":"http:\/\/ggo.ru\/upload\/resize_cache\/iblock\/fd8\/400_400_175511db9cefbc414a902a46f1b8fae16\/fd84e0edbcc25543850316d20f661c62.jpg","src":"http:\/\/ggo.ru\/upload\/iblock\/fd8\/fd84e0edbcc25543850316d20f661c62.jpg","h":"800","w":"582","title":null},{"small":"http:\/\/ggo.ru\/upload\/resize_cache\/iblock\/dbe\/400_400_175511db9cefbc414a902a46f1b8fae16\/dbe67c851bed22b2b482e61ad20e5f43.jpg","src":"http:\/\/ggo.ru\/upload\/iblock\/dbe\/dbe67c851bed22b2b482e61ad20e5f43.jpg","h":"800","w":"582","title":null}]')
						.gallery__content
							- var i = 0
							while i < 10
								- var img = i == 0 ? "img" : "img-"+ (i > 5 ? -(5-i) : i )
								a.gallery__item(style="background-image: url(/layout/images/#{img}.jpg)", href="#")
								- i ++
include includes/footer
