include includes/header
- active = 0
- sub_active = 1
<body class="catalog catalog--list">
- var type = ["Пакерно-якорное оборудова&shy;ние", "Копмоновки для газовых скважин", "Клапаны <nobr>и скважинная</nobr> оснастка", "Многопакер&shy;ные компо&shy;новки"]
.wrap
	include includes/toolbar
	.page
		.container
			.row
				.col-lg-8
					.page__content
						.page__title
							h1 Пакер осевой механический ПМ-Р (ГРП)
						- var sub_nav_1 = type.map(function(el){ return { url:"#", name: el } })
						include includes/sub_nav
						.products
							.product
								.product__image(href="#")
									img(src="/layout/images/product.png")
								.product__description.text
									.row
										.col-md-6
											h4 Особенности конструкции и преимущества
											ul
												li Работает по принципу «авторучки», т. е. посадка происходит путем перемещения колонны НКТ вверх, а затем вниз (вращение НКТ не требуется);
												li Извлечение из скважины происходит путем натяжения колонны НКТ вверх;
												li Имеет на стволе два симметрично расположенных кодовых паза механизма переключения и посадки, что обеспечивает надежную посадку в наклонных скважинах;
												li Наличие узла «Вертлюг» обеспечивает правильную и надежную ориентацию пакера относительно НКТ с кабелем УЭЦН;
										.col-md-6
											h4 Область применения
											ul
												li гидроразрыв пласта (ГРП);
												li кислотная обработка;
												li изоляция эксплуатационной колонны труб от воздействия  рабочей  среды в процессе эксплуатации скважин;
												li другие технологические операции и ремонтно-профилактические работы, при проведении которых требуется создание избыточного давления над пакером;
												li эксплуатация в нагнетательных и нефтяных скважинах.
								
				.col-lg-4
					.filter
						.filter__content
							.filter__title
								.row
									.col-xs-6
										| Подбор оборудова&shy;ния
									.col-xs-6.right
										a.filter__link(href="#")
											include ../../public_html/layout/images/svg/pdf.svg	
											span Скачать каталог
							.row
								- var downs = [ "Область применения", "Компоновка", "Перепад давления", "Проходной канал" ]
								each val, key in downs
									.col-sm-6.col-lg-3
										.filter__dropdown.dropdown
											a.dropdown__trigger(href="#")
												span!= val
												include ../../public_html/layout/images/svg/down.svg	
											.dropdown__frame
												a.dropdown__item(href="#") 
													span Тестовый выпадающий элемент
												a.dropdown__item(href="#") 
													span Тестовый выпадающий элемент
												a.dropdown__item(href="#") 
													span Тестовый выпадающий элемент
												a.dropdown__item(href="#") 
													span Тестовый выпадающий элемент
												a.dropdown__item(href="#") 
													span Тестовый выпадающий элемент
												a.dropdown__item(href="#") 
													span Тестовый выпадающий элемент				
							.row
								.col-lg-3.col-sm-4
									a.filter__submit(href="#") Найти
								.col-lg-9.col-sm-8
									.filter__description Для подбора оборудования необходимо выбрать хотя бы один пункт формы. Для более точного поиска необходимо указать максимальное количество параметров.  
			
										
include includes/footer
