
html, body
	height 100%
body
	font-family 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif
	font-weight 300
	min-height 100%
	min-width 320px
	color black
	-webkit-font-smoothing: subpixel-antialiased
	background blue_bg
	font-size 13px
	@media (min-width: 375px)
		font-size 16px
	@media (min-width: scr_md)
		font-size 14px
	@media (min-width: scr_lg)
		font-size 15px
	@media (min-width: hide_feedback)
		font-size 16px
.container
	@media (min-width: scr_lg)
		width 100%
		width calc(100% - 30px)

svg
	t fill
	path, g
		t fill

.map-columns
	width 100%
	ul
		list-style none
	.map-level-0
		padding-left 0
		> li
			margin-bottom 35px
			> a
				font-size 22px
				color blue2
				font-weight 300

	.map-level-1
		padding-left 20px
		margin-top 10px
		> li
			margin-bottom 15px
			line-height 20px
			> a
				font-size 16px
				font-weight 300
				position relative
				&:before
					content "—"
					position absolute
					left -17px
					font-size 60%
					top -4px
			ul
				padding-left 20px
				margin-top 10px
				padding-bottom 0px
				li
					margin-bottom 4px


	a
		color blue_bg
		font-weight 300
		&:hover
			color blue

.dropdown
	position relative
	z-index 60
	&__select
		opacity 0
		position absolute
		z-index -1
		pointer-events none
		top 0
		left 0
	&__trigger
		position relative
		z-index 10
	&__frame
		z-index -1
		opacity 0
		position absolute
		t all
		pointer-events none
		top 0px
		left 0
		overflow hidden
		min-width 100%
	&__item
		background-color gray
		display block
		line-height 1
		padding 10px 10px 7px
		font-size 12px
		width 100%
	 &--active
		z-index 700
		.dropdown
			&__frame
				pointer-events all
				z-index 1
				opacity 1
				top 100%


.scroll-fix
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	z-index 300000
	pointer-events none
	.bx-ie
		display none
	&--on
		pointer-events initial

.wrap
	full-width()
	min-height 100%
	padding-bottom 93px
	margin-bottom -93px
	@media (min-width: scr_md)
		padding-bottom 60px
		margin-bottom -60px
	position relative
	&:after
		content ""
		display block
	background-repeat no-repeat
	background-position center center
