.licencies
	text-align center
	margin-right -4%
	margin-left -4%
	.licence
		display inline-block
		vertical-align top
		color blue_bg
		max-width 44%
		margin 0 3% 30px
		@media (min-width: scr_sm)
			max-width 31.3333%
			margin 0 1% 30px
		&:hover
			color blue2
			.licence__image
				border-color blue2
		&__name
			display inline-block
			font-size 13px
			max-width 95%
		&__image
			display inline-block
			padding 0 10px
			border 1px solid #babec9
			max-width 170px
			t all
			margin-bottom 15px
			height 170px
			line-height 168px
			@media (min-width: scr_sm)
				height 220px
				line-height 218px
			img
				max-width 100%
				max-height 90%
				display inline-block
				vertical-align middle
